<!DOCTYPE html>
<html>
<head>
    <title>Vehicle Tracking System</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>Vehicle Tracking System</h1>

    <!-- Create Task -->
    <div class="task-form">
        <h2>Track Vehicle</h2>
        <form id="createTaskForm">
            <input type="text" placeholder="Vehicle NO:" id="Vehicleno">
            <button type="button" id="createTaskButton">Track Vehicle</button>
        </form>
    </div>

    <!-- View and Manage Tasks -->
    <div class="task-list">
        <h2>Vehicle INFO</h2>
        <ul id="taskList">
            <!-- Tasks will be displayed here -->
        </ul>
    </div>

    <!-- JavaScript to interact with the Backend -->
    <script src="script.js"></script>
</body>
</html>
